h1{font-size:3em;font-family: sans-serif;color:orange}
p{font-weight: 600;}
body{font-size: 16px;font-style: italic;text-align: center;line-height: normal;}
#yellow{background-color: yellow;}
#red {background-color: red;}
#brown{background-color: brown;}
.lista{text-decoration: underline;}
