aside, footer, nav {
    border-top: 2px #612998 solid
   
}

body{
    background-color: #2CC1BC;
    font-family:monospace, sans-serif;
    font-size:15px;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: .2px;
    width:100%
   
}

.center{
    margin: 0 auto;
}

header {
    font-size: 20px;
    padding: 15px;
    text-align: center;

}

h1,h3{
    margin-bottom: 25px;
    margin-top: 25px;
    color:#2755C1 ;
}

img{
    display: block;
    max-width: 100%;
    max-height:300px;
    width: auto;
    height: auto;
}

nav{
    border-bottom: 2px #612998 solid;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav ul li a {
    padding: 15px 20px;
    text-decoration:#612998;
    
  }

.perfil{
    border-radius: 25%;

}
table th, td {
    border: 1px solid #612998;
    border-collapse:collapse;  
    max-width:125px;
    max-height:75px;
    width: auto;
    height: auto;
    
}

table {
    width:65%;
}