body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  background-color: rgb(231, 139, 139);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.list {
  list-style-type: none;
}

li {
  padding: 5px;
  margin-left: 0;
  font-size: 1.2em;
}

img {
  width: 90%
}